<div class="add-task">
    <form action="/Tasks/CreateTask/">
        <input type="text" placeholder="Task Name" name="taskName" id="taskName"/>
        <input type="text" placeholder="Description" name="description" id="description">
        <input type="date" placeholder="Due Date" name="dueDate" id="dueDate"/>
        <submit class="btn btn-primary" onclick="addTask()">Add Task</submit>
    </form>
</div>