@model TasksWithStatuses
<div class="task-list-contents">
     @{ 
         var selectString = "";
     }
    @foreach (var m in Model.Statuses)
    {
        var selected = "";
        if (m.StatusTab == ViewBag.tabId) selected = "selected";
        selectString += $"<option value=\"{m.StatusId}\" {selected}>{m.StatusName}</option>";
    }
    @foreach (var m in Model.Tasks)
    {
        <div class="task-list-item" id="myTask_@m.TaskId">@m.TaskName (due @m.DueDate.Month/@m.DueDate.Day/@m.DueDate.Year)<span class="right-align">@Html.Raw($"<select class=\"task-list-item__status-select\" data-task-id=\"{m.TaskId}\">{selectString}</select>")<button class="btn btn-warning" onclick="deleteTask(@m.TaskId)">Delete</button></span></div>
    }
</div>